<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/bootstrap3/js/jquery-1.9.1.min.js"></script>
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">

    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css">

    <!-- 选项卡插件 -->
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">

    <!-- 表格插件 -->
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 时间插件 -->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <!-- 弹框插件 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
<div id="queryBasic"></div>
<div id="queryBasic2"></div>
<div id="queryBasic3"></div>
<div id="queryBasic4"></div>
<div id="queryBasic5"></div>
<div id="queryBasic6"></div>
</body>
<script>
    $(function(){
        queryBasic();
        queryBasic2();
        queryBasic3();
        queryBasic4();
        queryBasic5();
        queryBasic6();
    })

    function queryBasic(){
        $("#queryBasic").bootstrapTable({
            url:"http://192.168.1.116:8080/queryBasic",
            queryParams: function () { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                //console.log(params)
                return {
                    carId:1
                }
            },
            columns:[
                {field:"brandModel",title:"证件品牌型号"},
                {field:"vendor",title:"厂商"},
                {field:"level",title:"级别"},
                {field:"engine",title:"发动机"},
                {field:"transmission",title:"变速箱"},
                {field:"structure",title:"车身结构"},
                {field:"volume",title:"长*宽*高(mm)"},
                {field:"wheelbase",title:"轴距(mm)"},
                {field:"luggageVolume",title:"行李箱容积(L)"}
            ]
        })
    }
    function queryBasic2(){
        $("#queryBasic2").bootstrapTable({
            url:"http://192.168.1.116/queryBrake",
            queryParams: function () { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                //console.log(params)
                return {
                    carId:1
                }
            },
            columns:[
                {field:"driveType",title:"驱动方式"},
                {field:"helpType",title:"助力类型"},
                {field:"frontSuspension",title:"前悬挂类型"},
                {field:"rearSuspension",title:"后悬挂类型"},
                {field:"frontBrake",title:"前制动类型"},
                {field:"rearBrake",title:"后制动类型"},
                {field:"stopBrake",title:"驻车制动类型"},
                {field:"frontLuntai",title:"前轮胎规格"},
                {field:"rearLuntai",title:"后轮胎规格"}
            ]
        })
    }
    function queryBasic3(){
        $("#queryBasic3").bootstrapTable({
            url:"http://192.168.1.116/queryEngine",
            queryParams: function () { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                //console.log(params)
                return {
                    carId:1
                }
            },
            columns:[
                {field:"displacement",title:"排量"},
                {field:"intakeType",title:"进气形式"},
                {field:"cylinder",title:"气缸"},
                {field:"horsepower",title:"最大马力"},
                {field:"torque",title:"最大扭矩"},
                {field:"stopBrake",title:"燃料类型"},
                {field:"fuelLabel",title:"燃油标号"},
                {field:"supply",title:"供油方式"},
                {field:"emissions",title:"排放标准"}
            ]
        })
    }
    function queryBasic4(){
        $("#queryBasic4").bootstrapTable({
            url:"http://192.168.1.116/queryExternal",
            queryParams: function () { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                //console.log(params)
                return {
                    carId:1
                }
            },
            columns:[
                {field:"powerSunroof",title:"电动天窗",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"allSunroof",title:"全景天窗",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"powerDoor",title:"电动吸合门",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"ganyingBox",title:"感应后备箱",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"ganyiBrush",title:"感应雨刷",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"houBrush",title:"后雨刷",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"allPowerSunroof",title:"前后电动车窗",formatter:function(value,row,index){
                        return value == 1 ? '标配/标配':(value == 2 ? '标配/无':'无/无');
                    }},
                {field:"powerHouMirror",title:"后视镜电动调节",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"houMirrorHot",title:"后视镜加热",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }}

            ]
        })
    }
    function queryBasic5(){
        $("#queryBasic5").bootstrapTable({
            url:"http://192.168.1.116/queryInternal",
            queryParams: function () { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                //console.log(params)
                return {
                    carId:1
                }
            },
            columns:[
                {field:"allSteering",title:"多功能方向盘",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"cruiseControl",title:"/定速巡航",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"cold",title:"空调",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"zidongCold",title:"自动空调",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"gPS",title:"GPS导航",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"radar",title:"倒车雷达",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"daocheImage",title:"倒车影像系统",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"leatherSeats",title:"真皮座椅",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"seatHot",title:"前后排座椅加热",formatter:function(value,row,index){
                        return value == 1 ? '标配/标配':(value == 2 ? '标配/无':'无/无');
                    }}

            ]
        })
    }
    function queryBasic6(){
        $("#queryBasic6").bootstrapTable({
            url:"http://192.168.1.116/querySecurity",
            queryParams: function () { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
                //console.log(params)
                return {
                    carId:1
                }
            },
            columns:[
                {field:"airbag",title:"主副驾驶安全气囊",formatter:function(value,row,index){
                        return value == 1 ? '正常/正常':'正常/无';
                    }},
                {field:"sideAirbag",title:"前后排侧气囊",formatter:function(value,row,index){
                        return value == 1 ? '正常/正常':(value == 2 ? '正常/无':'无/无');
                    }},
                {field:"headAirbag",title:"前后排头部气囊",formatter:function(value,row,index){
                        return value == 1 ? '正常/正常':(value == 2 ? '正常/无':'无/无');
                    }},
                {field:"taiya",title:"胎压检测",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"centralLock",title:"车内中控锁",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"bodyLock",title:"儿童座椅接口",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"noKeyStart",title:"无钥匙启动",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"aBS",title:"防抱死系统(ABS)",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }},
                {field:"eSP",title:"车身稳定控制(ESP)",formatter:function(value,row,index){
                        return value == 1 ? '标配':'无';
                    }}
            ]
        })
    }
</script>
</html>